.form
	padding 30px 30px 50px
	display block
	background #FFF
	text-align center
	&__title
		margin-bottom 20px
		letter-spacing 1.3px
	&__text
		margin-bottom 30px
	&__w
		margin auto
		overflow hidden
		width 230px
	&__field
		margin-bottom 30px
		display block
		width 100%
		text-align center
		// background #FFF
		&:last-child
			margin-bottom 0
	&__field_text
		border 2px solid #d7d7d7
		padding 8px 0 6px
		font-size 20px
		// line-height 44px
		border-radius 50px

	&__form_submit
		border none
		margin-bottom 0
		border-radius 30px

