.section
	display block
	overflow hidden
.section_object
	min-height 550px
	height 100%
.section_desc
	padding-top 60px
	padding-bottom 40px
	+r(780px)
		padding-top 30px
.section_additional
	min-height 350px
	background #f4efe6
.section_additional-second
	padding-top 60px
	+r(780px)
		padding-top 30px
.section_map
	height 400px
.section_offer
	padding-top 60px
	padding-bottom 65px
	background #E5E5E5
	+r(780px)
		padding-top 30px
