@css {

	@font-face {
		font-family: 'Circe-Bold';
		src: url('hinted-subset-Circe-Bold.woff2') format('woff2'),
			url('hinted-subset-Circe-Bold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Circe-ExtraLight';
		src: url('hinted-subset-Circe-ExtraLight.woff2') format('woff2'),
			url('hinted-subset-Circe-ExtraLight.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Circe-ExtraBold';
		src: url('hinted-subset-Circe-ExtraBold.woff2') format('woff2'),
			url('hinted-subset-Circe-ExtraBold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Circe-Light';
		src: url('hinted-subset-Circe-Light.woff2') format('woff2'),
			url('hinted-subset-Circe-Light.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Circe-Regular';
		src: url('hinted-subset-Circe-Regular.woff2') format('woff2'),
			url('hinted-subset-Circe-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

}

$cEl = 'Circe-ExtraLight', Arial, sans-serif
$cL = 'Circe-Light', Arial, sans-serif
$cR = 'Circe-Regular', Arial, sans-serif
$cM = 'Circe-Bold', Arial, sans-serif
$cB = 'Circe-ExtraBold', Arial, sans-serif
