// media


$d-l = 1320
$d = 1024
$t = 768
$t-s = 480
$m-l = 425
$m = 320


// colors

$logo-c = #0082c0

// fonts

$min-font            = 12px
$max-font            = 18px
$min-width           = 320px
$max-width           = 1170px

// Ratios

$minor-second   = 1.067
$major-second   = 1.125
$minor-third    = 1.2
$major-third    = 1.25
$perfect-fourth = 1.333
$aug-fourth     = 1.414
$perfect-fifth  = 1.5
$minor-sixth    = 1.6
$golden         = 1.618
$major-sixth    = 1.667
$minor-seventh  = 1.778
$major-seventh  = 1.875
$octave         = 2
$major-tenth    = 2.5
$major-eleventh = 2.667
$major-twelfth  = 3
$double-octave  = 4

