mixin offer()
	.offer
		h2.offer__title Специальное предложение для вас!
		.offer__text
			p Позвоните прямо сейчас –  мы подберем удобное время для показа и ответим на все вопросы.
		.offer__contact
			.offer__image
				img(src="assets/images/content/contact-img.jpg", alt="")
			.offer__name Лавриненко Станислав
			a.offer__phone.phone.phone_third(href="tel:74952667016") +7 495 266 70 16
			.offer__email.email E-mail:
				a.email__link(href="mailto:Lavrinenko_ss@villagio.ru") Lavrinenko_ss@villagio.ru

