.price
	display block
	&__title
		margin-bottom 10px
		font-size 20px
		letter-spacing .5px
	&__val
		display inline-block
		font-size 35px
		letter-spacing 1.6px
		+r(990px)
			margin-top 10px
			font-size 30px
