mixin desc()
	.desc
		.container
			.row.desc__row
				.desc__col.col-sm-18.col-xs-30
					h2.desc__title Трехэтажный дом-шале с видом на озеро. Полностью готов к проживанию
					.desc__location
						a.desc__link(href="#link") 25 км от МКАД, Новорижское шоссе, поселок «Мэдисон парк»
				.desc__col.col-sm-12.col-xs-30
					.desc__number.vill-number
						span.vill-number__text Дом № 76
					.desc__price.price
						.price__title Цена сейчас:
						.price__val $ 2 650 000

			.row.desc__row
				ul.desc__features
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-1', true).desc__features-icon
						span.desc__features-text 16,6 соток
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-2', true).desc__features-icon
						span.desc__features-text 469 м²
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-3', true).desc__features-icon
						span.desc__features-text 4 спальни
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-4', true).desc__features-icon
						span.desc__features-text гараж на 2 машины
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-5', true).desc__features-icon
						span.desc__features-text ландшафтный дизайн
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-6', true).desc__features-icon
						span.desc__features-text крытая терраса
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-7', true).desc__features-icon
						span.desc__features-text на берегу озера
					li.desc__features-item.col-lg-10.col-md-10.col-sm-15.col-xs-15
						+icon('desc-icon-8', true).desc__features-icon
						span.desc__features-text тихая улица
